.chart {
    width: 67vw;
    height: 67vh;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid var(--primary-color);

    &--heading {
        color: var(--primary-color);
        text-align: center;
        margin: 1rem 0 1rem 0;
    }
}

#theChart {
    width: 90%;
    height: 300px;
    margin: auto;
}