.file-upload {
    width: 33vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 15rem;
    border: 1px solid blue;

    &--select {
        margin: 1rem auto 0 auto;
        width: 4rem;
        display: block;
        

    }
}